dill==0.3.8
dominate==2.9.1
ipywidgets==8.1.2
kornia==0.7.2
matplotlib==3.8.4
medicaltorch==0.2
nibabel==5.2.1
numpy==1.23.4
Pillow==10.3.0
scipy==1.13.0
SimpleITK==2.3.1
scikit-image
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
